.catalog {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  &__item {
	width: 20%;
	margin-bottom: 3.125em;
  }
}

.catalog-item {
  text-align: center;
  position: relative;
  &__img {
	display: block;
	width: 6.875em;
	height: 9.6875em;
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #9d9d9d;
	border-radius: 3px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .35);
	margin-bottom: .625em;
  }
  &__props {
	font-size: 11px;
	color: #525252;
  }
  &__title {
	font-family: $title-font;
	font-weight: 300;
	font-size: 1.125em;
	line-height: 1.2;
	margin-top: .2em;
	margin-bottom: .35em;
	width: 100%;
	padding-left: 3px;
	padding-right: 3px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
  }
  &__btn {
	font-size: .75em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 7em;
	&:hover + .catalog-item__popup {
	  opacity: 1;
	}
  }
  &__popup {
	color: #d3d3d3;
	padding: .625em;
	border-radius: .5em;
	position: absolute;
	bottom: 46px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;
	width: 16em;
	background-color: rgba(0, 0, 0, .8);
	transition: opacity .4s ease;
	opacity: 0;
	&-title {
	  font-weight: 700;
	  font-size: 14/16+em;
	  line-height: 1.2;
	  margin-bottom: .5em;
	}
	&-text {
	  font-size: .75em;
	  line-height: 1.3;
	}
	&::after {
	  content: '';
	  display: block;
	  width: 0;
	  height: 0;
	  border-bottom: 0;
	  border-left: 12px solid transparent;
	  border-right: 12px solid transparent;
	  border-top: 10px solid #000000;
	  opacity: .8;
	  position: absolute;
	  top: 100%;
	  left: 50%;
	  margin-left: -12px;
	}
  }
}

.catalog-more {
  display: block;
  text-align: center;
  color: #444444;
  transition: all .3s ease;
  &:hover {
	color: #000000;
	text-decoration: none;
  }
}

@media screen and (max-width: 1235px) {
  .catalog-item:nth-child(5n + 1) {
	.catalog-item__popup {
	  width: 12em;
	}
  }
}

@media screen and (max-width: 1040px) {
  .catalog-item:nth-child(5n + 1) {
	.catalog-item__popup {
	  width: 16em;
	}
  }
  .catalog-item:nth-child(4n + 1) {
	.catalog-item__popup {
	  width: 10em;
	}
  }
  .catalog__item {
	width: 25%;
  }
}

@media screen and (max-width: 900px) {
  .catalog-item:nth-child(n) {
	.catalog-item__popup {
	  width: 10em;
	}
  }
  .catalog__item {
	width: 32%;
  }
}

@media screen and (max-width: 820px) {
  .catalog__item {
	width: 25%;
  }
}

@media screen and (max-width: 585px) {
  .catalog {
	justify-content: space-around;
  }
  .catalog__item {
	width: 32%;
	margin-bottom: 2em;
  }
}

@media screen and (max-width: 460px) {
  .catalog {
	margin-left: -8px;
	margin-right: -8px;
  }
  .catalog-item__popup {
	width: 9em;
  }
  .catalog__item {
	width: 46%;
  }
}