mixin catalog
	ul.catalog
		+catalog-item('1', '2 props', 'Unlimited exchange')
		+catalog-item('2', '1 prop', 'International exchange service')
		+catalog-item('3', '3 props, all', 'Additional service')
		+catalog-item('4', '5 props', 'Support')
		+catalog-item('5', '2 props', 'Holiday works')
		+catalog-item('6', 'not in access', 'Postal delivery')
		+catalog-item('7', '2 props', 'Document management')
		+catalog-item('8', '1 prop', 'Promotions')
	a.catalog-more(href="#") More products...


mixin catalog-item(img, props,  title)
	li.catalog__item.catalog-item
		img.catalog-item__img(src="img/content/catalog_" + img + ".jpg", alt= title, width="110", height="155")
		.catalog-item__props= props
		h5.catalog-item__title= title
		a.btn.btn_dark.btn_small.catalog-item__btn(href="#") Order
		.catalog-item__popup
			h6.catalog-item__popup-title Popup header
			p.catalog-item__popup-text It's not a Js interaction, this popup is shown by vanilla css rules.