// Mixins for project. All mixins need to start with "p_"
@mixin p_play_absolute {
	position: absolute;
	@include full_position;
	background: url(../img/icon_play.svg) center center no-repeat;
	@include trn_all(100ms);
	&:hover {
		background-image: url(../img/icon_play_h.svg);
	}
	
	&.active {
		background-image: url(../img/icon_pause.svg);
		&:hover {
			background-image: url(../img/icon_pause_h.svg);
		}
	}
}

@mixin p_favorite {
	background: url(../img/icon_like.svg) left center no-repeat;
	font-size: 17px;
	color: #1e1726;
	font-weight: 500;
	padding-left: 31px;
	@include trn_all();
	min-height: 18px;
	display: inline-block;
	
	&:hover {
		color: #ff4167;
		text-decoration: none;
	}
	&.active {
		color: #ff4167;
		background-image: url(../img/icon_like_h.svg);
		&:hover {
			color: #1e1726;
		}
	}
}