mixin sidebar_signup
	section.sidebar-widget
		h5.sidebar-widget__title Sign Up
		form.form.form_signup(action="#", method="POST")
			.form__item
				input(type="text", name="name", placeholder="First Name", required)
			.form__item
				input(type="text", name="lastname", placeholder="Last Name", required)
			.form__item
				input(type="email", name="email", placeholder="Email", required)
			.form__item
				.form__caption By creating a PW Exchange Account you acknowledge that you have read, understood and agree to the <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.
			.form__actions
				input.form__submit.btn.btn_light.btn_small(type="submit", value="Sign Up")

mixin sidebar_monitor
	section.sidebar-widget.sidebar-widget_loading
		h5.sidebar-widget__title Online Monitor
		.spacer(style="height: 170px;")
		input.monitor-connect.btn.btn_light.btn_small(type="submit", value="Connect")