mixin nav
	-var menuItems = ['Home', 'Credits', 'Exchange', 'Partners', 'Stock', 'Holding', 'About']
	header.header
		nav.header__nav
			ul.container
				each item in menuItems
					li: a(href="#")= item