//---- Add vendor ----//
- var vendorScripts = [];
- var vendorStyles = [];

//- vendorScripts.push('js/vendor/jquery-3.2.1.min.js');
//- vendorScripts.push('js/vendor/jquery.mask.min.js');


//- vendorScripts.push('js/vendor/selectize.min.js');
//- vendorScripts.push('js/vendor/bootstrap-slider.min.js');

//- vendorStyles.push('css/vendor/selectize.css');