mixin footer
	- var firstMenu = ['Candidate First Name: Sergey', 'Candidate Last Name: Mazeev', 'Email: sergey.mazeev@gmail.com', 'Test date: 30.09.2018']
	- var secondMenu = ['Loader icon --- search on Fontello.com', 'Icons --- Entypo', 'Fonts --- search in this file', 'Background --- as always']
	- var thirdMenu = ['Development', 'Application', 'Holding', 'About']
	footer.footer
		.footer__line.footer__line_darken
			.container.footer__container.footer__container_topline
				ul.footer__socials.socials
					li.socials__item: a.socials__link.socials__link_evernote(href="#", rel="nofollow", target="_blank")
					li.socials__item: a.socials__link.socials__link_facebook(href="#", rel="nofollow", target="_blank")
					li.socials__item: a.socials__link.socials__link_pinterest(href="#", rel="nofollow", target="_blank")
					li.socials__item: a.socials__link.socials__link_twitter(href="#", rel="nofollow", target="_blank")
					li.socials__item: a.socials__link.socials__link_youtube(href="#", rel="nofollow", target="_blank")
					li.socials__item: a.socials__link.socials__link_github(href="#", rel="nofollow", target="_blank")
				.footer__copyright © Parrot Wings
		.footer__line
			.container.footer__container.footer__container_bottomline
				.footer__column
					nav.footer-menu
						h5.footer-menu__title Recruitment Info
						ul
							each item in firstMenu
								li: a(href="#")= item
				.footer__column
					nav.footer-menu
						h5.footer-menu__title Resources
						ul
							each item in secondMenu
								li: a(href="#")= item
				.footer__column.footer__column_narrow
					nav.footer-menu
						h5.footer-menu__title Navigation
						ul
							each item in thirdMenu
								li: a(href="#")= item
				.footer__column.footer__column_last
					img(src="img/content/browsers.png", alt="browsers")
					p Project should work on next stack: <br>IE11, actual version of Firefox, Chrome on desktop and android, Opera (opera mini), Safari on mac and ios.
