.footer {
  &__line {
	padding-top: 1.25em;
	padding-bottom: 1.25em;
	background-color: #181818;
	&_darken {
	  background-color: #151515;
	}
  }
  &__copyright {
	color: #444444;
	font-family: $title-font;
	font-size: 1.625em;
	font-weight: 300;
	margin-left: auto;
  }
  &__container {
	display: flex;
	justify-content: space-between;
	&_topline {
	  align-items: center;
	}
	&_bottomline {
	  align-items: flex-start;
	}
  }
  &__column {
	width: 27%;
	&_narrow {
	  width: 20%;
	}
	&_last {
	  width: 24%;
	  margin-left: auto;
	  align-self: flex-end;
	  color: #5c5c5c;
	  font-size: .875em;
	  text-align: right;
	  img {
		display: block;
		margin-left: auto;
		margin-bottom: 1.25em;
	  }
	}
  }
  &__socials {
	flex-grow: 2;
	margin-right: 20%;
  }
  @media screen and (max-width: 920px) {
	font-size: 15px;
  }
  @media screen and (max-width: 840px) {
	&__container_bottomline {
	  flex-wrap: wrap;
	}
	&__column_last {
	  margin-top: 1.5em;
	  width: 100%;
	  text-align: center;
	  img {
		margin-right: auto;
	  }
	}
  }
  @media screen and (max-width: 730px) {
	&__socials {
	  font-size: 12px;
	  .socials__link {
		background-size: contain;
	  }
	}
  }
  @media screen and (max-width: 600px) {
	position: relative;
	padding-bottom: 60px;
	background-color: #181818;
	&__socials {
	  margin-right: 0;
	}
	&__copyright {
	  position: absolute;
	  font-size: 32px;
	  width: 100%;
	  text-align: center;
	  left: 0;
	  bottom: 50px;
	}
  }
  @media screen and (max-width: 500px) {
	font-size: 16px;
	&__socials {
	  font-size: 10px;
	}
	&__column {
	  width: 100%;
	  text-align: center;
	  margin-bottom: 3em;
	  &_last {
		margin-top: 0;
	  }
	}
	&__container_bottomline {
	  padding-top: 1.5em;
	}
  }
}

.footer-menu {
  &__title {
	color: #444444;
	font-family: $title-font;
	font-weight: 300;
	font-size: 1.625em;
	margin-bottom: .85em;
  }
  ul {
	list-style: none;
  }
  li {
	margin-bottom: .65em;
  }
  a {
	color: #bbbbbb;
	font-family: $title-font;
	font-weight: 300;
	text-decoration: none;
	&:hover {
	  text-decoration: underline;
	}
  }
}