extends main/page_default

block head
	title Main page

block beforeBody
	-bodyClasses.push('front')

block content
	#main-wrapper.main-wrapper.container
		main.content
			header.content__header
				h1.content__title ParrotWings Exchange
				+form_search
			section.content__body
				h2.content__body-header Products
				+catalog
		aside.sidebar
			+sidebar_signup
			+sidebar_monitor